@import './variables.scss';

.zoom-element {
  transform: scale(0); /* Start with a small scale (invisible) */
  transition: transform 1s ease-in-out; /* Smooth transition to normal size */
}

.zoom-in {
  transform: scale(1); /* Normal size (1x) */
}

.slide-up {
  transform: translateY(100px); /* Start 20px below the final position */
  opacity: 0; /* Optional: Start invisible */
  transition:
    transform 1s ease-out,
    opacity 1s ease-out; /* Smooth transition */
}

.slide-up-active {
  transform: translateY(0); /* Move to the final position */
  opacity: 1; /* Optional: Make visible */
}

.big-numbers-container {
  background-color: $background-grey;
  .wp-block-cover__inner-container .wp-block-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .wp-block-cover__inner-container .wp-block-group .wp-block-group p:nth-child(1) {
    font-size: 80px;
    margin: 0px;
    font-family: 'Raleway';
    color: $primary;
    height: 100px;
    font-weight: 700;
  }
  .wp-block-cover__inner-container .wp-block-group .wp-block-group p:nth-child(2) {
    height: 60px;
    margin-top: 20px;
    color: black;
    letter-spacing: 1px;
    font-family: 'Raleway';
  }
  .wp-block-cover__inner-container .wp-block-group .wp-block-group {
    padding-right: 20px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .wp-block-group .wp-block-group:nth-child(4) {
    border-right: none;
  }
  @media (max-width: 768px) {
    .wp-block-cover__inner-container .wp-block-group .wp-block-group:nth-child(even) {
      border-right: none;
    }
    .wp-block-cover__inner-container .wp-block-group {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    div.wp-block-group {
      box-sizing: border-box; /* Include padding and border in width */
      padding: 0px;
      margin: 20px 0 20px 0;
      text-align: center !important;
    }
    .wp-block-group:nth-child(even) {
      border-right: none;
    }
  }
}

.page-header {
  height: 150px;
  h2 {
    font-size: 40px;
    font-weight: 500;
  }
}
