@import '../variables.scss';

.about-page {
  img {
    border-radius: $BR;
  }
  > .wp-block-group:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: $space-3;
  }
  @media (min-width: 768px) {
    > .wp-block-group:nth-child(1) {
      display: flex;
      flex-direction: row;
    }
  }

  .grid-2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: $space-3;
    text-align: center;
    h3 {
      display: block;
      text-align: center;
      width: 100%;
    }
    img {
      max-height: 300px;
      width: auto;
    }
    @media (min-width: 992px) {
      grid-template-columns: 1fr 1fr;
      text-align: left;
      h3 {
        display: block;
        text-align: left;
      }
      img {
        max-height: 600px;
        width: auto;
        width: 100%;
      }
    }
  }
  h2 {
    span {
      background-color: $accent-yellow;
      padding: $space-2;
    }
  }
  h3,
  h2,
  p {
    display: block;
    text-align: center;
    width: 100%;
  }

  @media (min-width: 768px) {
    h3,
    h2,
    p {
      text-align: left;
    }
  }
}
