@import '../variables.scss';

.courses-container {
  .section-title {
    font-size: 1rem;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: 'Poppins', sans-serif;
  }
  .section-title::after {
    content: '';
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #9ae1af;
    margin: 4px 10px;
  }
  .courses-loop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px; // Adjust the gap between grid items    grid-gap: 21px;
    a {
      margin-block-start: 0px;
    }

    .course-item {
      text-decoration: none !important;
      border-radius: $BR;
      border: 1px solid #eef0ef;
      padding: 0px !important;
      padding-bottom: 10px;
      margin-bottom: 10px;
      max-width: 100%; // Ensure the card doesn't exceed the container width
      .course-content {
        padding: 0px 15px;
        > * {
          margin: 14px 0;
        }
      }

      img {
        height: auto;
        width: 100%;
        // max-width: 100%;
        border-radius: $BR $BR 0 0;
        margin: 0px;
        display: flex;
      }
      p {
        color: #777777;
      }
      .custom-post-tags {
        .tag-item {
          font-size: 1rem;
          background: $primary;
          font-family: 'Open Sans', sans-serif;
          padding: 7px 14px;
          color: #fff;
          margin: 0;
          margin-right: 15px;
          margin-bottom: 5px;
          white-space: nowrap;
          display: inline-block;
        }
      }
    }
  }
}
