@import '../variables.scss';

.courses-container {
  p.courses-title {
    font-size: $small-font-size;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: 'Poppins', sans-serif;
  }
  p.courses-title::after {
    content: '';
    width: 120px;
    height: 1px;
    display: inline-block;
    background: $background-grey;
    margin: $space-1 $space-2;
  }
  .courses-loop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: $space-3;
    a {
      margin-block-start: 0px;
    }
    .course-item {
      text-decoration: none !important;
      border-radius: $BR;
      border: 1px solid #eef0ef;
      padding: 0px !important;
      padding-bottom: $space-2;
      margin-bottom: $space-2;
      max-width: 100%; // Ensure the card doesn't exceed the container width
      .course-content {
        padding: 0px $space-3;
        > * {
          margin: $space-3 0;
        }
      }
      // h3 {
      //   font-size: $h3-font-size;
      // }
      // @media screen and (max-width: 772px) {
      //   h3 {
      //     font-size: $h4-font-size;
      //   }
      // }
      img {
        height: auto;
        width: 100%;
        // max-width: 100%;
        border-radius: $BR $BR 0 0;
        margin: 0px;
        display: flex;
      }
      p {
        color: #777777;
      }
      .custom-post-tags {
        .tag-item {
          font-size: $small-font-size;
          background: $primary;
          font-family: 'Open Sans', sans-serif;
          padding: $space-2 $space-3;
          color: #fff;
          margin: 0;
          margin-right: $space-3;
          margin-bottom: $space-1;
          white-space: nowrap;
          display: inline-block;
        }
      }
    }
  }
}
