@import './variables.scss';

// .esab__container > .wp-block-esab-accordion-child {
//   border-radius: $BR;
// }

// .esab__body.esab__active {
//   padding: 30px !important;
// }

// .accordion-info-cards {
//   gap: 2.2rem;
//   .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
//     margin-left: 0px !important;
//   }
// }
