@import './variables.scss';

header {
  .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .mobile-menu-top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 65px;
  }

  .wp-block-navigation__responsive-container.is-menu-open
    .wp-block-navigation__responsive-container-content {
    padding-top: 0px;
  }

  .has-modal-open .wp-block-navigation__responsive-dialog {
    margin-top: 0px !important;
  }

  .wp-block-navigation__responsive-container-close {
    display: none;
  }

  .close-btn {
    background-color: white;
    border: none;
  }

  .q-navigation-desktop {
    display: none;
  }

  @media (min-width: 782px) {
    .q-navigation-desktop {
      display: flex;
    }
    .q-navigation-mobile {
      display: none;
    }
  }

  .header-row-container {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .wp-block-navigation__container {
    gap: 5px;
  }

  .wp-block-navigation__responsive-container .wp-block-navigation__responsive-container-content {
    flex-wrap: nowrap;
  }

  .wp-block-navigation .wp-block-navigation-item__label {
    padding-left: 10px;
    padding-right: 10px;
  }

  .wp-block-navigation .wp-block-navigation-item__label {
    font-family: 'Open Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

/* Hamburger Mobile Navigation */
.wp-block-navigation {
  .wp-block-navigation__responsive-container.is-menu-open {
    padding: 0px;
    background-color: $primary;

    &.has-modal-open {
      max-width: 100%;
    }

    .wp-block-navigation__responsive-container-content {
      align-items: center;

      .wp-block-navigation__container {
        align-items: center;
      }

      ul {
        width: 100%;
        li.wp-block-navigation-item {
          align-items: center;
          color: black !important;
          background-color: $background-grey !important;
          background: $background-grey !important;
          width: 100%;
          padding-bottom: 0.4rem;
          .wp-block-navigation-item__label {
            color: black !important;
          }
        }
      }
    }

    .wp-block-button__link {
      // width: 200px;
      // height: 60px;
      padding: 10px 40px;
      font-size: 26px;
    }

    ul.wp-block-navigation__container {
      > li > a.wp-block-navigation-item__content {
        font-size: 32px !important;
      }

      > li.wp-block-navigation-item > a > span.wp-block-navigation-item__label {
        font-size: 32px;
      }
    }
  }

  &:not(.has-background) {
    .wp-block-navigation__responsive-container.is-menu-open {
      // background-color: $primary;
      @include qCard;
    }
  }

  .wp-block-navigation__responsive-container-close {
    color: $primary;
    &:focus {
      outline: 0 !important;
      outline: none !important;
    }
  }
}

ul.wp-block-navigation__submenu-container {
  li.wp-block-navigation-item {
    .wp-block-navigation-item__label {
      text-transform: uppercase;
      font-family: 'Inter';
    }
  }
}

.wp-block-woocommerce-mini-cart {
  visibility: visible !important;
}

@media screen and (min-width: 781px) {
  ul {
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

@media screen and (min-width: 992px) {
  // .navigation-row-container nav {
  //   max-width: 65%;
  // }
}
