$background-grey: #f6f7f6;
$primary: #be2c2d;
$hover-grey: rgba(35, 90, 108, 0.12);
$accent-yellow: #fffb01;
$BR: 10px;

@mixin qCard() {
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: $BR;
  padding: 2rem !important;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin containerPadding() {
  padding: 3rem 2rem;
}
